# Twilio API Credentials
TWILIO_SID=your_twilio_sid_here
TWILIO_TOKEN=your_twilio_token_here
TWILIO_SANDBOX_NUMBER=whatsapp:+XXXXXXXXXXX
TWILIO_SANDBOX_PARTICIPANTS=whatsapp:+642XXXXXXX,whatsapp:+549XXXXXXX
TWILIO_CONTENT_SID=your_twilio_content_sid_here

EPEC_BEARER_TOKEN=your_epec_customer_jwt_bearer_token
EPEC_API_KEY=web-prod
EPEC_CONTRACT_ID=your_epec_customer_contract_id

# Server Configuration
PORT=3000