EPEC_API_KEY={epec_api_key}
EPEC_API_BASE_URL={epec_api_base_url}
CRON_JOB_API_KEY={cron_job_api_key}
SMTP_USER={smtp_user}
SMTP_APP_PASSWORD={smtp_app_password}
DB_ENCRYPTION_KEY={db_ecryption_key}
DATABASE_URL={database_url}

# Server Configuration
PORT=3000